How to download Kaggle Data https://www.kaggle.com/discussions/general/74235

In [313]:
# Import neseccary modules.
import pandas as pd
import numpy as np

Load the dataset

In [314]:
train_data = pd.read_csv("datathon_train.csv")

Begin preliminary analysis of the data. Exploratory phase

In [315]:
train_data.head()

,Id,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEPARTING_AIRPORT,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME_BLK,DISTANCE,...,GROUND_SERV_PER_PASS,PLANE_AGE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND,DEP_DELAY_NEW,IS_DELAYED
0,0,1,17,4,Raleigh-Durham International,"Raleigh/Durham, NC",JFK,"New York, NY",1800-1859,427,...,0.000094,5,Ronald Reagan Washington National,0.01,0.0,0.0,49.0,4.70,2.0,1
1,1,2,27,3,San Jose International,"San Jose, CA",BOS,"Boston, MA",2200-2259,2689,...,0.000127,17,John F. Kennedy International,0.21,0.0,0.0,64.0,12.75,0.0,0
2,2,8,14,3,Los Angeles International,"Los Angeles, CA",ATL,"Atlanta, GA",0600-0659,1947,...,0.000149,23,NONE,0.00,0.0,0.0,74.0,8.50,0.0,0
3,3,3,16,6,Newark Liberty International,"Newark, NJ",DTW,"Detroit, MI",1400-1459,488,...,0.000124,4,Dallas Fort Worth Regional,0.00,0.0,0.0,56.0,17.67,0.0,0
4,4,6,20,4,Douglas Municipal,"Charlotte, NC",JFK,"New York, NY",1500-1559,541,...,0.000177,21,Myrtle Beach International,0.19,0.0,0.0,89.0,9.17,79.0,1

In [316]:
# Drop the Id column
train_data.drop("Id", axis=1, inplace=True)

In [317]:
# Get summary statistics
train_data.describe()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DISTANCE,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,MANUFACTURE_YEAR,NUMBER_OF_SEATS,AIRPORT_FLIGHTS_MONTH,AIRLINE_FLIGHTS_MONTH,...,FLT_ATTENDANTS_PER_PASS,GROUND_SERV_PER_PASS,PLANE_AGE,PRCP,SNOW,SNWD,TMAX,AWND,DEP_DELAY_NEW,IS_DELAYED
count,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000,697224.00000,...,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000,697224.000000
mean,6.620198,15.723732,3.931059,852.680886,3.064137,28.073635,2007.433931,134.799211,12398.966083,63379.64382,...,0.000099,0.000135,11.566069,0.104860,0.032057,0.090429,71.472508,8.369713,15.409382,0.399027
std,3.397212,8.756372,1.996984,611.715805,1.759975,21.329959,7.046577,47.035304,8315.616727,33670.96123,...,0.000085,0.000047,7.046577,0.342738,0.318871,0.724490,18.356162,3.609616,47.385170,0.489699
min,1.000000,1.000000,1.000000,66.000000,1.000000,1.000000,1987.000000,44.000000,1100.000000,835.00000,...,0.000000,0.000007,0.000000,0.000000,0.000000,0.000000,-10.000000,0.000000,0.000000,0.000000
25%,4.000000,8.000000,2.000000,402.000000,2.000000,11.000000,2002.000000,90.000000,5445.000000,25367.00000,...,0.000034,0.000099,5.000000,0.000000,0.000000,0.000000,59.000000,5.820000,0.000000,0.000000
50%,7.000000,16.000000,4.000000,687.000000,3.000000,23.000000,2007.000000,143.000000,11398.000000,68293.00000,...,0.000062,0.000125,12.000000,0.000000,0.000000,0.000000,74.000000,7.830000,0.000000,0.000000
75%,10.000000,23.000000,6.000000,1087.000000,4.000000,39.000000,2014.000000,173.000000,17499.000000,84667.00000,...,0.000144,0.000177,17.000000,0.020000,0.000000,0.000000,86.000000,10.510000,10.000000,1.000000
max,12.000000,31.000000,7.000000,5095.000000,15.000000,109.000000,2019.000000,337.000000,33340.000000,116615.00000,...,0.000348,0.000229,32.000000,11.630000,17.200000,25.200000,115.000000,33.780000,1742.000000,1.000000

Do we have an imbalanced dataset? Yes...yes we do.

In [318]:
# Do we have an imbalanced dataset? Let's find the distribution of the target variable
# Notice how there are many more flights (rows) that aren't delayed than flights that are
pd.value_counts(train_data["IS_DELAYED"])

/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/640870604.py:3: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(train_data["IS_DELAYED"])

IS_DELAYED
0    419013
1    278211
Name: count, dtype: int64

Let's decide what columns/features to use in our prediction.

In [319]:
train_data.columns

Index(['MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK', 'DEPARTING_AIRPORT',
       'ORIGIN_CITY_NAME', 'DEST', 'DEST_CITY_NAME', 'DEP_TIME_BLK',
       'DISTANCE', 'SEGMENT_NUMBER', 'CONCURRENT_FLIGHTS', 'MANUFACTURE_YEAR',
       'NUMBER_OF_SEATS', 'CARRIER_NAME', 'AIRPORT_FLIGHTS_MONTH',
       'AIRLINE_FLIGHTS_MONTH', 'AIRLINE_AIRPORT_FLIGHTS_MONTH',
       'AVG_MONTHLY_PASS_AIRPORT', 'AVG_MONTHLY_PASS_AIRLINE',
       'CARGO_HANDLING', 'FLT_ATTENDANTS_PER_PASS', 'GROUND_SERV_PER_PASS',
       'PLANE_AGE', 'PREVIOUS_AIRPORT', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'AWND',
       'DEP_DELAY_NEW', 'IS_DELAYED'],
      dtype='object')

1. Are any the features basically the "same" as another feature? Well, the airports and cities say the same thing, DEP_DEL_NEW should be removed, and manufacture year is the same variable as the age of the plane.

In [320]:
# Let's drop the redundant features to reduce our training time in the future
train_data.drop(['ORIGIN_CITY_NAME', 'DEST_CITY_NAME', 'MANUFACTURE_YEAR', 'DEP_DELAY_NEW'], axis=1, inplace=True)

Next, we have to turn the categorical variales into numbers so we can use them to train our model! We'll use sklearn's `LabelEncoder()` for this.

In [321]:
train_data.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEPARTING_AIRPORT,DEST,DEP_TIME_BLK,DISTANCE,SEGMENT_NUMBER,CONCURRENT_FLIGHTS,NUMBER_OF_SEATS,...,FLT_ATTENDANTS_PER_PASS,GROUND_SERV_PER_PASS,PLANE_AGE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND,IS_DELAYED
0,1,17,4,Raleigh-Durham International,JFK,1800-1859,427,6,13,76,...,0.000000,0.000094,5,Ronald Reagan Washington National,0.01,0.0,0.0,49.0,4.70,1
1,2,27,3,San Jose International,BOS,2200-2259,2689,2,3,162,...,0.000160,0.000127,17,John F. Kennedy International,0.21,0.0,0.0,64.0,12.75,0
2,8,14,3,Los Angeles International,ATL,0600-0659,1947,1,30,199,...,0.000144,0.000149,23,NONE,0.00,0.0,0.0,74.0,8.50,0
3,3,16,6,Newark Liberty International,DTW,1400-1459,488,3,23,76,...,0.000001,0.000124,4,Dallas Fort Worth Regional,0.00,0.0,0.0,56.0,17.67,0
4,6,20,4,Douglas Municipal,JFK,1500-1559,541,4,24,128,...,0.000098,0.000177,21,Myrtle Beach International,0.19,0.0,0.0,89.0,9.17,1

Here's how a label encoder works:

`fit`
If we have a list of discrete variables, like ["a", "b", "b", "c"], the label encoder will locate each unique item in the list ("a", "b", "c") and assign an integer to that object, for instance,

"a" -> 0

"b" -> 1

"c" -> 2

`transform`
Now, when we encounter a list like ["b", "b", "c", "a"], the LabelENcoder will perform the translation between string and number, and output [1, 1, 2, 0]. Essentially, replacing the string with the corresponding number.

Label encoders, however, do not handle unseen values. So, if we try to translate "d", the LabelEncoder will through a bad error. If out training set contains only "a", "b", and "c", and our testing set contains a new string "d", we'll run into a problem. To account for this, we'll add an "UNSEEN" to the unique items in the list, so when we encounter an unknown value in the testing set, we'll replace it with "UNSEEN" and continue encoding.

In [322]:
# For each of the string, categorical variables, we must encode these values as numbers.
from sklearn.preprocessing import LabelEncoder

dest_le = LabelEncoder().fit(train_data["DEST"].tolist() + ["UNSEEN"])
train_data["DEST"] = dest_le.transform(train_data["DEST"])

carrier_name_le = LabelEncoder().fit(train_data["CARRIER_NAME"].tolist()+ ["UNSEEN"])
train_data["CARRIER_NAME"] = carrier_name_le.transform(train_data["CARRIER_NAME"])

previous_airport_le = LabelEncoder().fit(train_data["PREVIOUS_AIRPORT"].tolist()+ ["UNSEEN"])
train_data["PREVIOUS_AIRPORT"] = previous_airport_le.transform(train_data["PREVIOUS_AIRPORT"])

dep_time_blk_le = LabelEncoder().fit(train_data["DEP_TIME_BLK"].tolist()+ ["UNSEEN"])
train_data["DEP_TIME_BLK"] = dep_time_blk_le.transform(train_data["DEP_TIME_BLK"])

departing_airport_le = LabelEncoder().fit(train_data["DEPARTING_AIRPORT"].tolist()+ ["UNSEEN"])
train_data["DEPARTING_AIRPORT"] = departing_airport_le.transform(train_data["DEPARTING_AIRPORT"])

2. For this starter code, I'll select 5 random variables to use as my features. You should do your own selection, and think about what features would be useful!

In [323]:
train_data = train_data[["SEGMENT_NUMBER", "NUMBER_OF_SEATS", "CARRIER_NAME", "AIRLINE_FLIGHTS_MONTH", "CARGO_HANDLING", "AVG_MONTHLY_PASS_AIRLINE", "PRCP", "IS_DELAYED"]]

In [324]:
train_data.head()

,SEGMENT_NUMBER,NUMBER_OF_SEATS,CARRIER_NAME,AIRLINE_FLIGHTS_MONTH,CARGO_HANDLING,AVG_MONTHLY_PASS_AIRLINE,PRCP,IS_DELAYED
0,6,76,6,19709,0,1212846,0.01,1
1,2,162,9,22053,62,3190369,0.21,0
2,1,199,5,87457,1462,12460183,0.00,0
3,3,76,11,26929,0,1529740,0.00,0
4,4,128,1,76099,16963,11744595,0.19,1

Now, we convert this dataframe into a numpy array to begin the model training process

In [325]:
train_data_np = train_data.to_numpy()

Then, we separate the features from the target variable

In [326]:
X = train_data_np[:, :-1] # All rows, and every column except for the last one, which is the target variable
y = train_data_np[:, -1]

Now, we split the data into a training set and testing set so we can both train the model, and evaluate the moedl after training it

In [327]:
from sklearn.model_selection import train_test_split
# IF YOUR MODEL IS TAKING TOO LONG TO RUN, INCREASE THE TEST SIZE to 0.7
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

Now, we define our model. This is truly where the magic happens, and it's truly just plug and play. Feel free to swap out my model with any one of these, and explore how the results change!

In [328]:
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.ensemble import AdaBoostClassifier, RandomForestClassifier
from sklearn.gaussian_process import GaussianProcessClassifier
from sklearn.gaussian_process.kernels import RBF
from sklearn.inspection import DecisionBoundaryDisplay
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

Here, I'm just defining a random model

In [329]:
# model = GaussianNB()
model = KNeighborsClassifier()

In [330]:
model.fit(X_train, y_train)

KNeighborsClassifier()

Great! Now that our model is done training, let's see how we did. To evaluate our model we must define what metric we evaluate our model on. We'll be using AUROC

In [331]:
from sklearn.metrics import roc_auc_score

In [332]:
# Use our testing subset and make predictions
y_test_predictions_probabilities = model.predict_proba(X_test)

`predict_proba` is a function that returns the probability/confidence of the model for each class.

In [333]:
y_test_predictions_probabilities

array([[0.4, 0.6],
       [0.6, 0.4],
       [1. , 0. ],
       ...,
       [0.8, 0.2],
       [0.6, 0.4],
       [0.4, 0.6]])

If we exaime the first row [0.57795736, 0.42204264], we interpret this as the model is 57% confident that the label should be 0, and 42% confident that the label should be 1. The AUROC Score is concerned only with the probability of the 1 label, so we must grab the second column

In [334]:
y_test_predictions = y_test_predictions_probabilities[:, 1] # All rows, second column

In [335]:
roc_auc_score(y_test, y_test_predictions)

0.5921126258109642

This is decent!

Now let's load our test data and make predictions on that, then create our submission file

In [336]:
test_data = pd.read_csv("datathon_test.csv")

In [337]:
test_data

,Id,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,DEPARTING_AIRPORT,ORIGIN_CITY_NAME,DEST,DEST_CITY_NAME,DEP_TIME_BLK,DISTANCE,...,CARGO_HANDLING,FLT_ATTENDANTS_PER_PASS,GROUND_SERV_PER_PASS,PLANE_AGE,PREVIOUS_AIRPORT,PRCP,SNOW,SNWD,TMAX,AWND
0,0,7,1,1,Minneapolis-St Paul International,"Minneapolis, MN",PHL,"Philadelphia, PA",2000-2059,980,...,1462,0.000144,0.000149,18,Bradley International,0.00,0.0,0.0,93.0,4.70
1,1,4,12,5,Los Angeles International,"Los Angeles, CA",BNA,"Nashville, TN",1000-1059,1797,...,1462,0.000144,0.000149,18,Cincinnati/Northern Kentucky International,0.00,0.0,0.0,73.0,12.30
2,2,10,11,5,Ronald Reagan Washington National,"Washington, DC",SYR,"Syracuse, NY",0700-0759,298,...,0,0.000000,0.000090,16,Norfolk International,0.00,0.0,0.0,75.0,5.82
3,3,9,26,4,LaGuardia,"New York, NY",ORD,"Chicago, IL",2000-2059,733,...,518,0.000254,0.000229,12,Chicago O'Hare International,0.00,0.0,0.0,82.0,9.40
4,4,8,13,2,Detroit Metro Wayne County,"Detroit, MI",ERI,"Erie, PA",2000-2059,164,...,10,0.000034,0.000099,16,Kalamazoo/Battle Creek International,0.00,0.0,0.0,88.0,7.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298806,298806,6,16,7,Chicago O'Hare International,"Chicago, IL",AVL,"Asheville, NC",1800-1859,536,...,10,0.000034,0.000099,17,Duluth International,0.07,0.0,0.0,60.0,9.62
298807,298807,3,20,3,Tampa International,"Tampa, FL",EWR,"Newark, NJ",0700-0759,997,...,518,0.000254,0.000229,4,NONE,0.00,0.0,0.0,76.0,8.50
298808,298808,10,6,7,John F. Kennedy International,"New York, NY",MCO,"Orlando, FL",2100-2159,944,...,62,0.000160,0.000127,13,Orlando International,0.01,0.0,0.0,71.0,10.96
298809,298809,7,17,3,General Mitchell Field,"Milwaukee, WI",LGA,"New York, NY",0600-0659,738,...,10955,0.000062,0.000099,19,NONE,0.00,0.0,0.0,84.0,6.71
298810,298810,3,4,1,Phoenix Sky Harbor International,"Phoenix, AZ",SBA,"Santa Barbara, CA",2100-2159,455,...,0,0.000000,0.000091,14,San Luis Obispo County Regional,0.00,0.0,0.0,74.0,4.92

Since we used only the "SEGMENT_NUMBER", "NUMBER_OF_SEATS", "PRCP", "CARGO_HANDLING", "AIRLINE_FLIGHTS_MONTH", "DEP_TIME_BLK" columns when training, we must only use these when testing, because these features are what our model is trained on

Note, we MUST keep the Id column here to create our submission file

In [338]:
test_data = test_data[["Id", "SEGMENT_NUMBER", "NUMBER_OF_SEATS", "CARRIER_NAME", "AIRLINE_FLIGHTS_MONTH", "CARGO_HANDLING", "AVG_MONTHLY_PASS_AIRLINE", "PRCP"]]

In [339]:
test_data.head()

,Id,SEGMENT_NUMBER,NUMBER_OF_SEATS,CARRIER_NAME,AIRLINE_FLIGHTS_MONTH,CARGO_HANDLING,AVG_MONTHLY_PASS_AIRLINE,PRCP
0,0,4,132,Delta Air Lines Inc.,86274,1462,12460183,0.0
1,1,2,160,Delta Air Lines Inc.,76299,1462,12460183,0.0
2,2,2,50,Comair Inc.,23411,0,1245396,0.0
3,3,5,120,United Air Lines Inc.,51182,518,8501631,0.0
4,4,9,50,SkyWest Airlines Inc.,70841,10,3472966,0.0

Me must make the DEPARTING_AIRPORT, CARRIER_NAME, and  DEP_TIME_BLK. numerical using the SAME label encoder we used on our train data for consistency, but first, as mentioned before, we must check if there are any values in these categories that weren't in the training data so we don't run into any errors. If we find any, we replace them with "UNSEEN"

In [340]:
new_dep_time_blk = []
for value in test_data["DEP_TIME_BLK"]:
       # If the value is unknown, we tag the "UNSEEN"
       if value not in dep_time_blk_le.classes_:
              new_dep_time_blk.append("UNSEEN")
       # If the value is known to the labelencoder, we can safely append that value
       else:
              new_dep_time_blk.append(value)
# Replace
test_data["DEP_TIME_BLK"] = new_dep_time_blk

KeyError: 'DEP_TIME_BLK'

In [ ]:
new_departing_airport = []
for value in test_data["DEPARTING_AIRPORT"]:
       # If the value is unknown, we tag the "UNSEEN"
       if value not in departing_airport_le.classes_:
              new_departing_airport.append("UNSEEN")
       # If the value is known to the labelencoder, we can safely append that value
       else:
              new_departing_airport.append(value)
# Replace
test_data["DEPARTING_AIRPORT"] = new_departing_airport

/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/3279823407.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["DEPARTING_AIRPORT"] = new_departing_airport

In [ ]:
new_carrier = []
for value in test_data["CARRIER_NAME"]:
       # If the value is unknown, we tag the "UNSEEN"
       if value not in carrier_name_le.classes_:
              new_carrier.append("UNSEEN")
       # If the value is known to the labelencoder, we can safely append that value
       else:
              new_carrier.append(value)
# Replace
test_data["CARRIER_NAME"] = new_carrier

/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/361337649.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["CARRIER_NAME"] = new_carrier

In [ ]:
test_data

,Id,PRCP,SNOW,FLT_ATTENDANTS_PER_PASS,PLANE_AGE,MONTH,PREVIOUS_AIRPORT,DEPARTING_AIRPORT,DEST,CONCURRENT_FLIGHTS,DEP_TIME_BLK,DAY_OF_WEEK,CARRIER_NAME,CARGO_HANDLING
0,0,0.00,0.0,0.000144,18,7,Bradley International,Minneapolis-St Paul International,PHL,47,2000-2059,1,Delta Air Lines Inc.,1462
1,1,0.00,0.0,0.000144,18,4,Cincinnati/Northern Kentucky International,Los Angeles International,BNA,40,1000-1059,5,Delta Air Lines Inc.,1462
2,2,0.00,0.0,0.000000,16,10,Norfolk International,Ronald Reagan Washington National,SYR,23,0700-0759,5,Comair Inc.,0
3,3,0.00,0.0,0.000254,12,9,Chicago O'Hare International,LaGuardia,ORD,28,2000-2059,4,United Air Lines Inc.,518
4,4,0.00,0.0,0.000034,16,8,Kalamazoo/Battle Creek International,Detroit Metro Wayne County,ERI,64,2000-2059,2,SkyWest Airlines Inc.,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298806,298806,0.07,0.0,0.000034,17,6,Duluth International,Chicago O'Hare International,AVL,75,1800-1859,7,SkyWest Airlines Inc.,10
298807,298807,0.00,0.0,0.000254,4,3,NONE,Tampa International,EWR,16,0700-0759,3,United Air Lines Inc.,518
298808,298808,0.01,0.0,0.000160,13,10,Orlando International,John F. Kennedy International,MCO,21,2100-2159,7,JetBlue Airways,62
298809,298809,0.00,0.0,0.000062,19,7,NONE,General Mitchell Field,LGA,11,0600-0659,3,Southwest Airlines Co.,10955
298810,298810,0.00,0.0,0.000000,14,3,San Luis Obispo County Regional,Phoenix Sky Harbor International,SBA,33,2100-2159,1,Mesa Airlines Inc.,0

In [ ]:
test_data["DEP_TIME_BLK"] = dep_time_blk_le.transform(test_data["DEP_TIME_BLK"])
test_data["DEPARTING_AIRPORT"] = departing_airport_le.transform(test_data["DEPARTING_AIRPORT"])
test_data["CARRIER_NAME"] = carrier_name_le.transform(test_data["CARRIER_NAME"])

/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/1723798539.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["DEP_TIME_BLK"] = dep_time_blk_le.transform(test_data["DEP_TIME_BLK"])
/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/1723798539.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["DEPARTING_AIRPORT"] = departing_airport_le.transform(test_data["DEPARTING_AIRPORT"])
/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/1723798539.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["CARRIER_NAME"] = carrier_name_le.transform(test_data["CARRIER_NAME"])

In [ ]:
test_data

,Id,PRCP,SNOW,FLT_ATTENDANTS_PER_PASS,PLANE_AGE,MONTH,PREVIOUS_AIRPORT,DEPARTING_AIRPORT,DEST,CONCURRENT_FLIGHTS,DEP_TIME_BLK,DAY_OF_WEEK,CARRIER_NAME,CARGO_HANDLING
0,0,0.00,0.0,0.000144,18,7,Bradley International,48,PHL,47,15,1,5,1462
1,1,0.00,0.0,0.000144,18,4,Cincinnati/Northern Kentucky International,41,BNA,40,5,5,5,1462
2,2,0.00,0.0,0.000000,16,10,Norfolk International,71,SYR,23,2,5,4,0
3,3,0.00,0.0,0.000254,12,9,Chicago O'Hare International,36,ORD,28,15,4,16,518
4,4,0.00,0.0,0.000034,16,8,Kalamazoo/Battle Creek International,16,ERI,64,15,2,12,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298806,298806,0.07,0.0,0.000034,17,6,Duluth International,10,AVL,75,13,7,12,10
298807,298807,0.00,0.0,0.000254,4,3,NONE,84,EWR,16,2,3,16,518
298808,298808,0.01,0.0,0.000160,13,10,Orlando International,31,MCO,21,16,7,9,62
298809,298809,0.00,0.0,0.000062,19,7,NONE,22,LGA,11,1,3,13,10955
298810,298810,0.00,0.0,0.000000,14,3,San Luis Obispo County Regional,60,SBA,33,16,1,10,0

Great! Let's now do the same thing as we did before

In [ ]:
from sklearn.preprocessing import LabelEncoder
dest_le = LabelEncoder().fit(test_data["DEST"].tolist() + ["UNSEEN"])
test_data["DEST"] = dest_le.transform(test_data["DEST"])

carrier_name_le = LabelEncoder().fit(test_data["CARRIER_NAME"].tolist()+ ["UNSEEN"])
test_data["CARRIER_NAME"] = carrier_name_le.transform(test_data["CARRIER_NAME"])

previous_airport_le = LabelEncoder().fit(test_data["PREVIOUS_AIRPORT"].tolist()+ ["UNSEEN"])
test_data["PREVIOUS_AIRPORT"] = previous_airport_le.transform(test_data["PREVIOUS_AIRPORT"])

dep_time_blk_le = LabelEncoder().fit(test_data["DEP_TIME_BLK"].tolist()+ ["UNSEEN"])
test_data["DEP_TIME_BLK"] = dep_time_blk_le.transform(test_data["DEP_TIME_BLK"])

departing_airport_le = LabelEncoder().fit(test_data["DEPARTING_AIRPORT"].tolist()+ ["UNSEEN"])
test_data["DEPARTING_AIRPORT"] = departing_airport_le.transform(test_data["DEPARTING_AIRPORT"])

/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/1250543008.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["DEST"] = dest_le.transform(test_data["DEST"])
/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/1250543008.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["CARRIER_NAME"] = carrier_name_le.transform(test_data["CARRIER_NAME"])
/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/1250543008.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["PREVIOUS_AIRPORT"] = previous_airport_le.transform(test_data["PREVIOUS_AIRPORT"])
/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/1250543008.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["DEP_TIME_BLK"] = dep_time_blk_le.transform(test_data["DEP_TIME_BLK"])
/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/1250543008.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test_data["DEPARTING_AIRPORT"] = departing_airport_le.transform(test_data["DEPARTING_AIRPORT"])

In [ ]:
test_data_np = test_data.to_numpy()

This is now entirely test data, and we don't need to split using `train_test_split` because we're not training a new model.

In [ ]:
X_TEST = test_data_np[:, 1:] # The first column is the Id column, which we do not want to keep in our predictions

In [ ]:
predictions = model.predict_proba(X_TEST)[:, 1] # Just like before

In [ ]:
predictions

array([0.47, 0.44, 0.45, ..., 0.42, 0.32, 0.43])

In [ ]:
len(predictions)

298811

Now, time to make our submission file! The submission file has two columns to named exactly this way. "Id", and "IS_DELAYED"

In [ ]:
submission = test_data[["Id"]]

In [ ]:
submission

            Id
0            0
1            1
2            2
3            3
4            4
...        ...
298806  298806
298807  298807
298808  298808
298809  298809
298810  298810

[298811 rows x 1 columns]

In [ ]:
submission["IS_DELAYED"] = predictions

/var/folders/cr/m32btyq969l6md66r6d5_9cm0000gn/T/ipykernel_49883/3329059061.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission["IS_DELAYED"] = predictions

In [ ]:
submission

            Id  IS_DELAYED
0            0        0.47
1            1        0.44
2            2        0.45
3            3        0.39
4            4        0.51
...        ...         ...
298806  298806        0.35
298807  298807        0.58
298808  298808        0.42
298809  298809        0.32
298810  298810        0.43

[298811 rows x 2 columns]

Now, we save the dataframe into a CSV

In [ ]:
submission.to_csv("test_submission.csv", index=False)